@import "tailwindcss";
@import "./font-family/chakra/chakra.css";

@theme {
  --font-robotics: "Magz", sans-serif;
  --font-chakra: "Chakra Petch", sans-serif;
}

@font-face {
  font-family: "Magz";
  src: url("font-family/Magz.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.clip-photo-right {
  clip-path: polygon(18% 0%, 100% 0%, 100% 100%, 8% 100%);
}

.clip-photo-left {
  clip-path: polygon(0% 0%, 92% 0%, 82% 100%, 0% 100%);
}

.shadow-photo-left {
  filter: drop-shadow(-12px 0 24px rgba(0, 0, 0, 0.45));
}
.shadow-photo-right {
  filter: drop-shadow(12px 0 24px rgba(0, 0, 0, 0.45));
}

.comp-title {
  background: linear-gradient(180deg, #ffffff 0%, #a855f7 50%, #6b21a8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
